<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Main CSS -->
		<link rel="stylesheet" href="/static/css/main.css">

		<!-- Bootstrap CSS-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
			  crossorigin="anonymous">

		<title>Add Item</title>
	</head>
	<body>

		<!-- Header -->
		{% include 'header.html' %}

		<!-- Body -->
		<main>
			<div class="container">
                <!-- Display item -->
                <div class="row">
                    <div class="col-6 mx-auto">
                        <form action="{{ url_for('add_item', category_name=category_name) }}" method = "post">
                            <div class="card text-center">
                                <div class="card-header h2">
                                    Add Item
                                </div>
                                <div class="card-body">
                                    <label class="card-text">Item Name</label>
                                    <input type ="text" name="item-name">
                                </div>
                                <div class="card-body">
                                    <label class="card-text">Item Picture</label>
                                    <input type ="text" name="item-picture">
                                </div>
                                <div class="card-body">
                                    <label class="card-text">Item Description</label>
                                    <input type ="text" name="item-description">
                                </div>
                                <div class="card-footer text-muted">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    <a href="{{ url_for('show_category', category_name=category_name) }}" class="btn btn-danger">Cancel</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
			</div>
		</main>

		<!-- footer -->
		{% include 'footer.html' %}

	</body>
</html>