<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Main CSS -->
		<link rel="stylesheet" href="/static/css/main.css">

		<!-- Bootstrap CSS-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
			  crossorigin="anonymous">

		<title>Delete Item</title>
	</head>
	<body>

		<!-- Header -->
		{% include 'header.html' %}

		<!-- Body -->
		<main>
			<div class="container">
                <!-- Display item -->
                <div class="row">
                    <div class="col-6 mx-auto">
                        <form action="{{ url_for('delete_item', category_name=category_name, item_name=item_name) }}" method = "post">
                            <div class="card text-center">
                                <div class="card-header h2">
                                    Delete Item
                                </div>
                                <div class="card-body">
                                    <p>Are you sure you want to delete {{ item_name }} ?</p>
                                </div>
                                <div class="card-footer text-muted">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                    <a href="{{ url_for('show_item', category_name=category_name, item_name=item_name) }}" class="btn btn-danger">Cancel</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
			</div>
		</main>

		<!-- footer -->
		{% include 'footer.html' %}

	</body>
</html>