<html>

    <footer class="py-5 my-4 back-grey">
        <div class="container text-center">
            <!-- Copyrights and images reference -->
            <div class="row">
                <div class="col">
                    <p>Copyright © Amr Gamal 2018 - 2019</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <small class="font-weight-light">Images obtained from Google.</small>
                </div>
            </div>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</html>