<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Main CSS -->
		<link rel="stylesheet" href="/static/css/main.css">

		<!-- Bootstrap CSS-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
			  crossorigin="anonymous">

		<title>Online shop</title>
	</head>
	<body>

		<!-- Header -->
		{% include 'header.html' %}

		<!-- Body -->
		<main>
			<div class="container">
                <div class="row d-flex align-items-center">
                    {% for category in categories %}
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h4 class="my-4">{{ category.name }}</h4>
                                    </div>
                                    <div class="col d-flex align-items-center">
                                        <div class="w-100 text-center text-md-right">
                                            <a role="button" aria-pressed="true" class="btn btn-outline-primary" href="{{ url_for('show_category', category_name=category.name) }}">
                                                view category
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="{{ url_for('show_category', category_name=category.name) }}">
                                <img class="card-img-top" src="{{ category.picture }}" alt="{{ category.name }}">
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col text-center my-4">
                        {% if 'username' in session %}
                        <a role="button" aria-pressed="true" class="btn btn-outline-primary" href="{{ url_for('add_category') }}">
                            Add categories
                        </a>
                        {% else %}
                        <p>Login to add more categories!</p>
                        {% endif %}
                    </div>
                </div>
			</div>
		</main>

		<!-- footer -->
		{% include 'footer.html' %}
	</body>
</html>